{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" type="image/png" href="{% static 'logo/лого.png' %}">
    <title>Контакты</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">

    <style>
        .card {
            margin-top: 60px;
            height: 100%;
        }
    </style>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #87CEFA;">
    <div class="container-fluid">
        <img src="https://gas-kvas.com/grafic/uploads/posts/2024-01/gas-kvas-com-p-logotip-turagentstva-na-prozrachnom-fone-3.png" style="width: 7%">
        <a class="navbar-brand" href="{% url 'tour_list' %}">Travel Company</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="btn btn-outline-secondary btn-lg btn-md btn-sm fw-bold" href="{% url 'about_us' %}">О нас</a>
                </li>
                <li class="nav-item">
                    <a class="btn btn-outline-secondary btn-lg btn-md btn-sm fw-bold" href="{% url 'contact' %}">Контакты</a>
                </li>
                {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="btn btn-outline-secondary btn-lg btn-md btn-sm fw-bold" href="{% url 'profile' %}">Профиль</a>
                    </li>
                    <li class="nav-item">
                        <form method="post" action="{% url 'logout' %}">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-outline-secondary btn-lg btn-md btn-sm fw-bold">Выйти</button>
                        </form>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="btn btn-outline-secondary btn-lg btn-md btn-sm fw-bold" href="{% url 'login' %}">Войти</a>
                    </li>
                    <li class="nav-item">
                        <a class="btn btn-outline-secondary btn-lg btn-md btn-sm fw-bold" href="{% url 'register' %}">Зарегистрироваться</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
<div class="container text-center mt-5">
    <div class="row gx-3">
        <div class="col-md">
            <div class="card">
                <img src="https://static.tildacdn.com/tild3437-3130-4263-b834-386330633030/maxresdefault.png" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title">Инстаграмм</h5>
                    <p class="card-text">Мы есть в инстаграмме!</p>
                    <a href="https://www.instagram.com/melnik._.off/" class="btn btn-primary">Перейти</a>
                </div>
            </div>
        </div>
        <div class="col-md">
            <div class="card">
                <img src="https://thumbs.dreamstime.com/b/basic-rgb-134796916.jpg" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title">Ватсап</h5>
                    <p class="card-text">По всем вопросам звоните нам!</p>
                    <a href="https://wa.me/996552483045" class="btn btn-primary">Перейти</a>
                </div>
            </div>
        </div>
        <div class="col-md">
            <div class="card">
                <img src="https://pluspng.com/img-png/telegram-logo-png-logos-telegram-transparent-amp-png-clipart-free-img-yawd-1600x1600.png" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title">Телеграмм</h5>
                    <p class="card-text">Можете написать на телеграмм!</p>
                    <a href="https://t.me/@m3lnikoff" class="btn btn-primary">Перейти</a>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>
