{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'credit_card.css' %}">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
    <title>Оплата</title>
</head>
<body>
<form method="post" action="{% url 'make_payment' pk=tour.pk %}">
    {% csrf_token %}
    <div class="container">
        <div class="page-header text-center">
        </div>
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-md-6 col-md-offset-3">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <div class="row">
                                <h3 class="text-center">Детали оплаты</h3>
                                <div class="inlineimage text-center">
                                    <img class="img-responsive images"
                                         src="https://klike.net/uploads/posts/2023-03/1679029757_3-15.png">
                                </div>
                            </div>
                        </div>
                        <div class="panel-body">
                            <form role="form">
                                <div class="row">
                                    <div class="col-xs-12">
                                        <div class="form-group"><label>Номер карты</label>
                                            <div class="input-group"><input type="tel" class="form-control"
                                                                            placeholder="Valid Card Number"/> <span
                                                    class="input-group-addon"><span
                                                    class="fa fa-credit-card"></span></span></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-7 col-md-7">
                                        <div class="form-group"><label><span class="hidden-xs">Срок</span><span
                                                class="visible-xs-inline">EXP</span> окончания</label> <input type="tel"
                                                                                                         class="form-control"
                                                                                                         placeholder="MM / YY"/>
                                        </div>
                                    </div>
                                    <div class="col-xs-5 col-md-5 pull-right">
                                        <div class="form-group"><label>CV Код</label> <input type="tel"
                                                                                              class="form-control"
                                                                                              placeholder="CVC"/></div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12">
                                        <div class="form-group"><label>Имя владельца</label> <input type="text"
                                                                                                 class="form-control"
                                                                                                 placeholder="Card Owner Name"/>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="panel-footer">
                            <div class="row">
                                <div class="col-xs-12">
                                    <button class="btn btn-success btn-lg btn-block">Оплатить</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
</body>
</html>

